<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnRwZy1jaWZpbHRlcnMiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7
		InVybFN0cmluZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9Ub2JpYXNQb3R0
		XC9Td2lmdFBHLUNJRmlsdGVycy5naXQifV19LCJwcm9kdWN0RmlsdGVyIjpu
		dWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjEu
		MC4wIiwidXBwZXJCb3VuZCI6IjIuMC4wIn1dfX1dfSx7InNvdXJjZUNvbnRy
		b2wiOlt7ImlkZW50aXR5Ijoic3dpZnRwZy1wYWxldHRlcyIsImxvY2F0aW9u
		Ijp7InJlbW90ZSI6W3sidXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5j
		b21cL1RvYmlhc1BvdHRcL1N3aWZ0UEctUGFsZXR0ZXMuZ2l0In1dfSwicHJv
		ZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxv
		d2VyQm91bmQiOiIxLjAuMCIsInVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX1d
		LCJkaXNwbGF5TmFtZSI6IkJyaWNrIEFydCBJbnN0cnVjdG9yIiwicGFja2Fn
		ZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltd
		LCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYuMCJ9XSwicHJv
		ZHVjdHMiOlt7Im5hbWUiOiJCcmljayBBcnQgSW5zdHJ1Y3RvciIsInNldHRp
		bmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImRlLnRvYmlhc3BvdHQucGxh
		eWdyb3VuZC5icmlja2FydGluc3RydWN0b3IiXX0seyJ0ZWFtSWRlbnRpZmll
		ciI6WyJMUjJXOTdMWDQzIl19LHsiZGlzcGxheVZlcnNpb24iOlsiMC44LjEi
		XX0seyJidW5kbGVWZXJzaW9uIjpbIjUxIl19LHsiaU9TQXBwSW5mbyI6W3si
		YWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsi
		cmF3VmFsdWUiOiJibHVlIn19fSwiYXBwQ2F0ZWdvcnkiOnsicmF3VmFsdWUi
		OiJwdWJsaWMuYXBwLWNhdGVnb3J5LmdyYXBoaWNzLWRlc2lnbiJ9LCJhcHBJ
		Y29uIjp7ImFzc2V0Ijp7Im5hbWUiOiJBcHBJY29uIn19LCJjYXBhYmlsaXRp
		ZXMiOlt7ImZpbGVBY2Nlc3NMb2NhdGlvbiI6InBpY3R1cmVGb2xkZXIiLCJm
		aWxlQWNjZXNzTW9kZSI6InJlYWRXcml0ZSIsInB1cnBvc2UiOiJmaWxlQWNj
		ZXNzIn0seyJmaWxlQWNjZXNzTG9jYXRpb24iOiJ1c2VyU2VsZWN0ZWRGaWxl
		cyIsImZpbGVBY2Nlc3NNb2RlIjoicmVhZFdyaXRlIiwicHVycG9zZSI6ImZp
		bGVBY2Nlc3MifSx7ImZpbGVBY2Nlc3NMb2NhdGlvbiI6ImRvd25sb2Fkc0Zv
		bGRlciIsImZpbGVBY2Nlc3NNb2RlIjoicmVhZFdyaXRlIiwicHVycG9zZSI6
		ImZpbGVBY2Nlc3MifV0sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBh
		ZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6
		W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5k
		c2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0
		aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdl
		dHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19
		XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7
		InByb2R1Y3QiOlsiU3dpZnRQRy1DSUZpbHRlcnMiLCJTd2lmdFBHLUNJRmls
		dGVycyIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIlN3aWZ0UEctUGFsZXR0
		ZXMiLCJTd2lmdFBHLVBhbGV0dGVzIixudWxsLG51bGxdfV0sImV4Y2x1ZGUi
		OltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwi
		cGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3sia2luZCI6
		eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdl
		eExpdGVyYWxzIn19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRh
		YmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3Qi
		OlsiU3dpZnRQRy1DSUZpbHRlcnMiLCJTd2lmdFBHLUNJRmlsdGVycyIsbnVs
		bCxudWxsXX0seyJwcm9kdWN0IjpbIlN3aWZ0UEctUGFsZXR0ZXMiLCJTd2lm
		dFBHLVBhbGV0dGVzIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1l
		IjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4i
		LCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVV
		cGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxz
		In19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0
		b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjkuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		muvtzG0FQpsWuL09et5Bz5d27Y7SBl5RhxhDaRH130s=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
