<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnRwZy1jaWZpbHRlcnMiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7
		InVybFN0cmluZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9Ub2JpYXNQb3R0
		XC9Td2lmdFBHLUNJRmlsdGVycy5naXQifV19LCJwcm9kdWN0RmlsdGVyIjpu
		dWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjEu
		MC4wIiwidXBwZXJCb3VuZCI6IjIuMC4wIn1dfX1dfSx7InNvdXJjZUNvbnRy
		b2wiOlt7ImlkZW50aXR5Ijoic3dpZnRwZy1wYWxldHRlcyIsImxvY2F0aW9u
		Ijp7InJlbW90ZSI6W3sidXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5j
		b21cL1RvYmlhc1BvdHRcL1N3aWZ0UEctUGFsZXR0ZXMuZ2l0In1dfSwicHJv
		ZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxv
		d2VyQm91bmQiOiIxLjAuMCIsInVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX1d
		LCJkaXNwbGF5TmFtZSI6IkJyaWNrIEFydCBJbnN0cnVjdG9yIiwicGFja2Fn
		ZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltd
		LCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYuMCJ9XSwicHJv
		ZHVjdHMiOlt7Im5hbWUiOiJCcmljayBBcnQgSW5zdHJ1Y3RvciIsInNldHRp
		bmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImRlLnRvYmlhc3BvdHQucGxh
		eWdyb3VuZC5icmlja2FydGluc3RydWN0b3IiXX0seyJ0ZWFtSWRlbnRpZmll
		ciI6WyJMUjJXOTdMWDQzIl19LHsiZGlzcGxheVZlcnNpb24iOlsiMC44Il19
		LHsiYnVuZGxlVmVyc2lvbiI6WyI0OSJdfSx7ImlPU0FwcEluZm8iOlt7ImFj
		Y2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJh
		d1ZhbHVlIjoiYmx1ZSJ9fX0sImFwcENhdGVnb3J5Ijp7InJhd1ZhbHVlIjoi
		cHVibGljLmFwcC1jYXRlZ29yeS5ncmFwaGljcy1kZXNpZ24ifSwiYXBwSWNv
		biI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVz
		IjpbeyJmaWxlQWNjZXNzTG9jYXRpb24iOiJwaWN0dXJlRm9sZGVyIiwiZmls
		ZUFjY2Vzc01vZGUiOiJyZWFkV3JpdGUiLCJwdXJwb3NlIjoiZmlsZUFjY2Vz
		cyJ9LHsiZmlsZUFjY2Vzc0xvY2F0aW9uIjoidXNlclNlbGVjdGVkRmlsZXMi
		LCJmaWxlQWNjZXNzTW9kZSI6InJlYWRXcml0ZSIsInB1cnBvc2UiOiJmaWxl
		QWNjZXNzIn0seyJmaWxlQWNjZXNzTG9jYXRpb24iOiJkb3dubG9hZHNGb2xk
		ZXIiLCJmaWxlQWNjZXNzTW9kZSI6InJlYWRXcml0ZSIsInB1cnBvc2UiOiJm
		aWxlQWNjZXNzIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQi
		LCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7
		InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNj
		YXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlv
		biI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRz
		IjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0s
		InRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJw
		cm9kdWN0IjpbIlN3aWZ0UEctQ0lGaWx0ZXJzIiwiU3dpZnRQRy1DSUZpbHRl
		cnMiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFBHLVBhbGV0dGVz
		IiwiU3dpZnRQRy1QYWxldHRlcyIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpb
		XSwibmFtZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBh
		dGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImtpbmQiOnsi
		ZW5hYmxlVXBjb21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhM
		aXRlcmFscyJ9fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJs
		ZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0Ijpb
		IlN3aWZ0UEctQ0lGaWx0ZXJzIiwiU3dpZnRQRy1DSUZpbHRlcnMiLG51bGws
		bnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFBHLVBhbGV0dGVzIiwiU3dpZnRQ
		Ry1QYWxldHRlcyIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6
		IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBj
		b21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9
		fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9v
		bHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS45LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		Zh347D+Wor+6ZkHBM+1Z0g2wCoUI+V8411J22WeWdA0=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
